
.login__background-top {
	
	/* background: url('/img/login/background-top.jpg') center / cover; */
	position: absolute;
	top: 0; bottom: calc(100% / 1.618);
	left: 0; right: 0;
	
}

.login__card-wrapper {
	
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	
	justify-content: center;
	
}
	
.login__card {
	width: 360px;
}

@media screen and (max-width: 480px) {
	
	.login__card {	
		width: 300px !important;
	}
			
}

.login__card-image {
	
	height: calc(300px / 1.72);
	
}

.login__card-image-icon {
	
	width: 100%;
	
	text-align: center;
	font-size: 128px;
	line-height: calc(300px / 1.618);
	
}

.login__card-submit-button {
	
	position: absolute;
	bottom: -26px;
	right: 26px;
	
	transition: all 0.2s ease-out;
	
	transform: scale(1, 1) rotate(0);
	
}

.login__card-submit-button-hided {
	
	transform: scale(0, 0) rotate(180deg);	

}

.login__card-content {
	
	
	
}

button[type='submit'] {
	width: 100%;
}

input {
	font-weight: 300;
	letter-spacing: .1rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
	