<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base">
<head>
    <meta charset="UTF-8"/>
    <title>PAIP - Orientador</title>
    <link href="/webjars/materializecss/0.98.2/css/materialize.min.css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
    <section layout:fragment="conteudo">
        <div class="container">
            <h4 >Alunos Orientados</h4>
            <table class="bordered">
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Curso</th>
                        <th>Semestre Ingresso</th>
                        <th>Planejamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Francisco Allan Flávio Vidal Costa</td>
                        <td>Sistemas de informação</td>
                        <td>2013.1</td>
                        <td><a href="/orientador/aluno/1" class="expander" id="1"><i class="material-icons">zoom_in</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Importação dos Javascripts AQUI -->
    <script src="/webjars/jquery/2.2.4/jquery.js"></script>
    <script src="/webjars/materializecss/0.98.2/js/materialize.js"></script>
    <script type="text/javascript" th:src="@{/js/orientador/index.js}"></script>
</body>
</html>